@model TicariOtomasyonProjesi.Models.Siniflar.KargoDetay

@{
    ViewBag.Title = "YeniKargo";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<hr />
<h2>Yeni Kargo Ekle</h2>
<hr />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.TakipKodu)
    <input type="text" value="@ViewBag.takipkod" class="form-control" name="TakipKodu" readonly/>
    <br />
    @Html.LabelFor(x => x.Personel)
    @Html.TextBoxFor(x => x.Personel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Alici)
    @Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    <input class="form-control" type="date" name="Tarih"/>
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <button onclick="fnctn1()" class="btn btn-info">Kaydet</button>
</form>
<script>
    function fnctn1() {
        alert('Kargo Eklendi')
    }
</script>