@model TicariOtomasyonProjesi.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h2>Yeni Fatura Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(k => k.FaturaSeriNo)
    @Html.TextBoxFor(k => k.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.FaturaSıraNo)
    @Html.TextBoxFor(k => k.FaturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.Tarih)
    @Html.TextBoxFor(k => k.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.Saat)
    @Html.TextBoxFor(k => k.Saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.VergiDairesi)
    @Html.TextBoxFor(k => k.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.TeslimEden)
    @Html.TextBoxFor(k => k.TeslimEden, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.TeslimAlan)
    @Html.TextBoxFor(k => k.TeslimAlan, new { @class = "form-control" })
    <br />
    

    <button onclick="fnctn1()" class="btn btn-primary">Kaydet</button>
</form>
<script>
    function fnctn1() {
        alert('Yeni Fatura Eklendi')
    }
</script>

