@model TicariOtomasyonProjesi.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yeni Kalem Girişi</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(k => k.Aciklama)
    @Html.TextBoxFor(k => k.Aciklama , new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.Miktar)
    @Html.TextBoxFor(k => k.Miktar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.BirimFiyat)
    @Html.TextBoxFor(k => k.BirimFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.Tutar)
    @Html.TextBoxFor(k => k.Tutar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(k => k.Faturaid)
    @Html.TextBoxFor(k => k.Faturaid, new { @class = "form-control" })
   <br />

    <button class="btn btn-primary">Kaydet</button>
</form>


